<section id="main" class="container">
	<div class="row">
		<div class="col-md-12">
		<form id="inputForm" data-remote=true>
			<div class="form-group">
			    <input type="text" class="form-control" id="search" placeholder="search">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>

		<div class="twitter-widget">
			<ul>
			</ul>
			
		</div>
		<script type="text/template" id="template">
				{{ _.each(tweets,function(tweet){ }}
					<li>{{= tweet.description }}</li>
				{{ }) }}
		</script>
	</div>
</section>