<header>
<div class="container">
	<div class="row">
	<div class="col-md-12">
		<br>
		<h1>Twitter Users Search</h1>
		
	</div>
	</div>
</div>
</header>
<section id="main" class="container">
	<div class="row">
		<div class="col-md-12">
		<br>
		<form id="inputForm" data-remote=true>
			<div class="form-group">
			    <input type="text" class="form-control" id="search" placeholder="search">
			</div>
			<button id="butt" type="submit" class="btn btn-primary">Find</button>
		</form>
		</div>

	</div>
	<hr>
	<div class="row">
		<div class="twitter-widget col-md-12">
			<div id="loading-spinner">
				  <div class="sk-circle">
				  <div class="sk-circle1 sk-child"></div>
				  <div class="sk-circle2 sk-child"></div>
				  <div class="sk-circle3 sk-child"></div>
				  <div class="sk-circle4 sk-child"></div>
				  <div class="sk-circle5 sk-child"></div>
				  <div class="sk-circle6 sk-child"></div>
				  <div class="sk-circle7 sk-child"></div>
				  <div class="sk-circle8 sk-child"></div>
				  <div class="sk-circle9 sk-child"></div>
				  <div class="sk-circle10 sk-child"></div>
				  <div class="sk-circle11 sk-child"></div>
				  <div class="sk-circle12 sk-child"></div>
				  </div>
			</div>
		</div>
	</div>
</section>
<script type="text/template" id="template">
		{{ _.each(tweets,function(tweet){ }}
		<a class="list-group-item list-group-item-action flex-column align-items-start">

			<img src="{{= tweet.attributes.profile_image_url_https}}" class="profile-pic img-thumbnail" alt="no img" width="304" height="236">
		 	<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{= tweet.attributes.name}}</h5>
				 <small>{{= tweet.attributes.followers_count}} followers</small>
			</div>
			<p class="mb-1">{{= tweet.attributes.description }}</p>
			<small>{{= tweet.attributes.location}}</small>

		{{ }) }}
		</a>
</script>
