<section id="main" class="container">
	<div class="row">
		<div class="col-md-12">
		<form id="inputForm" data-remote=true>
			<div class="form-group">
			    <input type="text" class="form-control" id="search" placeholder="search">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>

	</div>
	<div class="row">
		<div class="twitter-widget col-md-12">
			<a class="list-group-item list-group-item-action flex-column align-items-start">

  			</a>
		</div>
	</div>
</section>
<script type="text/template" id="template">
		{{ _.each(tweets,function(tweet){ }}

	 	<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">{{= tweet.attributes.name}}</h5>
			 <small>{{= tweet.attributes.follower_count}}</small>
		</div>
		<p class="mb-1">{{= tweet.attributes.description }}</p>
		<small>{{= tweet.attributes.location}}</small>

		{{ }) }}
</script>