// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header h1{
	text-align: center;
}
button[type=submit]{
	&:hover{
		cursor: pointer;
	}
}
.twitter-widget{
	overflow-y: scroll;
	height: 350px;

	a{
		img.profile-pic{
			height: 45px;
			width:45px;
			float:left;
		}
		p{
			clear: left;
		}
	}
}